* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Exo';
    src: url(../fonts/exo/Exo-Regular.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
    font-style: normal;
}


html,
body {
    font-family: Montserrat, Exo;
    font-size: 62.5%;
    overflow-x: hidden;

    /*   HEADER SECTION   */
    header {
        .navbar {
            z-index: 100;
            font-size: 1.6rem;
            padding: 1.2rem;
            background-color: rgba($color: #000000, $alpha: 0.4) !important;

            a {
                img {
                    width: 12rem;
                }
            }

            div {
                ul {
                    li {
                        margin: 0 0 0 2rem;
                    }
                }
            }

            .navbar-toggler {
                outline: none;
            }

            .navbar-nav {

                .nav-link.active,
                .nav-link:hover {
                    color: #1ebba3;
                }
            }

        }

        .landing {
            width: 100vw;
            height: 100vh;
            z-index: -1;

            .home-wrap {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .home-inner::before {
                    content: "";
                    background: url("../img/desktop_img/Header-image.png") no-repeat center center/cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }

        .caption {
            top: 60%;
            left: 8%;
            position: absolute;
            color: #ffffff;
            z-index: 1;

            h1 {
                font-size: 4rem;
                font-weight: 700;
                padding: 0 15rem 0 15rem;
                text-shadow: 0.1rem 0.1rem 0.5rem #000000;
            }

            p {
                font-size: 2.4rem;
                padding: 0 3rem 0 3rem;
                text-shadow: 0.1rem 0.1rem 0.5rem #000000;
            }
        }
    }

    /*   END HEADER SECTION   */




    /*   ABOUT SECTION   */
    #about_section {
        background-color: #ecf0f1;

        .about {
            padding: 4rem;
            font-weight: 900;
            color: #130f40;


            h1 {
                font-size: 4rem;
                padding: 4rem 0 4rem 0;
                font-weight: inherit;
            }

            p {
                font-size: 1.8rem;
                font-weight: inherit;
                color: inherit;
                font-weight: 900;
                line-height: 4rem;
            }

            .branding {
                padding: 4rem 0 4rem 0;

                img {
                    width: 10rem;
                    margin: 0 0 1.6rem 0;
                }

                .prof {
                    color: #7f8c8d;
                }
            }

            .slider_section {
                padding: 4rem 0 2rem 0;

                .col-2 {

                    .img1 {
                        width: 14rem;
                    }

                    .img2 {
                        margin: 0 2rem 0 0;
                        width: 13rem;
                    }

                    .img3 {
                        padding: 2rem 0 0 0;
                        margin: 0 2rem 0 0;
                        width: 14rem;
                    }

                    .img4 {
                        padding: 0 2rem 0 0;
                        margin: 0 2rem 0 0;
                        width: 15rem;
                    }

                    .img5 {
                        margin: 0 2rem 0 0;
                        padding: 2rem 0 0 0;
                        width: 28rem;
                    }
                }

                .col-1 {
                    padding: 4rem 0 0 14.5rem;
                    color: #130f40;

                    .carousel-control-next {
                        color: #130f40;

                        .img6 {
                            margin: 0 0 0 3rem;
                            width: 2rem;
                            color: #130f40;
                        }
                    }
                }
            }

        }
    }

    /*  END ABOUT SECTION   */


    /*  SERVICE SECTION   */
    #service_section {
        background-color: #221f41;

        .service {
            padding: 4rem 4rem 0 4rem;
            color: #ffffff;

            .h1 {
                padding: 2rem 0 4rem 0;
                font-weight: 900;
            }

            .service_section_01 {
                padding: 2rem 0 2rem 0;

                .service_01 {
                    img {
                        width: 30rem;
                    }

                    p {
                        padding: 4rem 0 2rem 0;
                        font-size: 1.6rem;
                        line-height: 2;
                        font-weight: 500;
                    }

                    h2 {
                        font-weight: 900;
                    }

                    h4 {
                        font-weight: 600;
                    }
                }

                .service_02 {
                    img {
                        width: 50rem;
                    }
                }
            }

            .service_section_02 {
                padding: 2rem 0 2rem 0;

                .service_03 {
                    img {
                        width: 20rem;
                    }

                    p {
                        padding: 4rem 0 2rem 0;
                        font-size: 1.6rem;
                        line-height: 2;
                        font-weight: 500;
                    }

                    h2 {
                        font-weight: 900;
                    }

                    h4 {
                        font-weight: 600;
                    }
                }

                .service_04 {
                    img {
                        width: 50rem;
                    }

                    .playbtn {
                        position: absolute;
                        top: 38%;
                        left: 44%;
                        width: 6rem;
                    }
                }
            }

            .service_section_03 {
                padding: 2rem 0 2rem 0;

                .service_05 {
                    img {
                        width: 10rem;
                    }

                    p {
                        padding: 4rem 0 2rem 0;
                        font-size: 1.6rem;
                        line-height: 2;
                        font-weight: 500;
                    }

                    h2 {
                        font-weight: 900;
                    }

                    h4 {
                        font-weight: 600;
                    }
                }

                .service_06 {
                    img {
                        width: 50rem;
                    }
                }
            }

            .service_section_04 {
                padding: 2rem 0 2rem 0;

                .service_07 {
                    img {
                        width: 20rem;
                    }

                    p {
                        padding: 4rem 0 2rem 0;
                        font-size: 1.6rem;
                        line-height: 2;
                        font-weight: 500;
                    }

                    h2 {
                        font-weight: 900;
                    }

                    h4 {
                        font-weight: 600;
                    }
                }

                .service_08 {
                    img {
                        width: 50rem;
                    }

                    .playbtn {
                        position: absolute;
                        top: 38%;
                        left: 44%;
                        width: 6rem;
                    }
                }
            }

            .rule {
                background-color: #ffffff;
            }

            .next_icon {
                padding: 1rem 0 2rem 0;
                width: 6rem;
            }
        }
    }

    /* END SERVICE SECTION   */

    /* CASE STUDY SECTION   */

    #case_section {
        margin: 10rem 0 0 0;
        position: relative;

        .img_title {
            top: 10%;
            position: absolute;
            color: #ffffff;

            .h3 {
                font-size: 2.5rem;
                font-weight: 600;
            }

            .h2 {
                font-size: 3rem;
                font-weight: 900;
            }

            .btn-success {
                padding: 1.4rem 4rem 1.4rem 4rem;
                font-size: 2rem;
                font-weight: 900;
                border-radius: 2rem;
            }
        }

        .jumbotron {
            margin: 10rem 0 2rem 0;
            padding: 4rem 0 2rem 0;

            .card {
                margin: 10rem auto 4rem auto;
                width: 80rem;
                background-color: #bdc3c7;
                border: none;
                padding: 2rem;

                .main_img {
                    top: -6rem;
                    left: 40%;
                    width: 15rem;
                    position: absolute;
                    z-index: 1;
                }


                .card-body {
                    padding: 2rem;

                    .card-img-top {
                        margin: 6rem auto;
                        width: 4rem;
                        left: 28.5%;
                    }

                    h1 {
                        color: #221f41;
                        font-weight: 900;
                    }

                    p {
                        font-size: 2rem;
                        line-height: 2;
                        color: #221f41;
                        font-weight: 700;
                    }

                    .productmng {
                        color: #7f8c8d;
                    }

                    .card_rule {
                        margin: 2rem auto 2rem auto;
                        width: 90%;
                        background-color: #44bd32;
                    }
                }

                .slide_link {
                    top: 3rem;
                    height: 15px;
                    width: 15px;
                    background-color: #221f41;
                    border-radius: 50%;
                    display: inline-block;
                }

                .slide_link.active {
                    background-color: #44bd32;
                }
            }
        }
    }

    /* END CASE STUDY SECTION   */

    /* BLOG SECTION  */
    #blog_section {

        /* PART ONE */
        .blog_01 {
            h1 {
                font-weight: 900;
                color: #221f41;
            }

            h3 {
                font-weight: 900;
                color: #221f41;
            }
        }

        .blog_02 {
            margin: 6rem auto;
            width: 90%;
            border: 0.1rem solid #7f8c8d;
            border-radius: 0.8rem;

            .d-flex {
                padding: 2rem 4rem 2rem 4rem;

                h2 {
                    font-size: 2.6rem;
                    color: #221f41;
                    font-weight: 700;
                }

                img {
                    height: 2rem;
                    width: 3rem;
                }

            }
        }

        .blog_03 {
            margin: 4rem auto;

            .previous {
                width: 4rem;
                transform: rotate(180deg);
            }

            .next {
                width: 4rem;
            }

            .card_01 {

                .card {
                    width: 40rem;
                    background-color: #f5f6fa;

                    h5 {
                        margin: 3rem 0 1rem 0;
                        font-weight: 700;
                        color: #ffffff;
                        padding: 1rem;
                        font-size: 2rem;
                        width: 80%;
                        background-color: #44bd32;
                    }

                    p {
                        padding: 2rem 0 0 0;
                        font-size: 2rem;
                    }

                    .img1 {
                        width: 24%;
                        left: 20%;
                        margin: 2rem auto 2rem auto;
                    }
                }
            }

            .card_02 {

                .card {
                    width: 40rem;
                    background-color: #f5f6fa;

                    h5 {
                        margin: 3rem 0 1rem 0;
                        font-weight: 700;
                        color: #ffffff;
                        padding: 1rem;
                        font-size: 2rem;
                        width: 80%;
                        background-color: #44bd32;
                    }

                    p {
                        padding: 2rem 0 0 0;
                        font-size: 2rem;
                    }

                    .img2 {
                        width: 28%;
                        left: 20%;
                        margin: 2rem auto 2rem auto;
                    }
                }
            }
        }

        /* END PART ONE */

        /* PART TWO */
        .case_study {
            margin: auto auto 4rem auto;

            p {
                font-size: 1.2rem;
            }

            .card {
                margin: 4rem auto 2rem auto;
                padding: 2rem;
                width: 30rem;
                background-color: #f0f0f0;
                border: none;

                .dark {
                    background-color: #44bd32;
                }
            }
        }
    }

    .testimonialSection {
        margin: 10rem auto;
        position: relative;

        img {
            height: 60rem;
            width: 100%;
        }

        .mainTestimonialSection {
            position: absolute;
            z-index: 10;
            top: 8%;
            left: 10%;

            h2 {
                margin: 2rem 0 2rem 0;
                color: #221f41;
                font-weight: 900;
            }

            img {
                margin: 2rem;
                height: 10rem;
                width: 10rem;
            }
        }
    }

    #contact_section {
        background-color: #221f41;
        color: #ffffff;
        font-size: 2rem;
        margin: -10rem 0 0 0;
        padding: 4rem;

        .d-flex {
            font-size: 1.2rem;

            div {
                p {
                    padding: 1rem;
                }
            }
        }
    }
}




/*============ BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/